// custom SCSS (or CSS) goes here
.docimage{
    border: 2px solid;
    padding: 2px;
    max-width: 600px !important;
    margin-left: 10% !important;
}

figcaption{
    margin-left: 10% !important;
}